.display {
  display: flex;
  justify-content: center;
}

.letter {
  margin: 2px;
  height: 60px;
  width: 45px;

  background-color: green;

  font-size: 40px;
  line-height: 65px;
  color: black;
}
