.display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  margin: 3px;
  height: 180px;
  width: 130px;

  background-color: green;

  font-size: 165px;
  line-height: 180px;
  color: black;
}
