.key,
.keyclicked {
  margin: 5px;
  height: 40px;
  width: 30px;
  color: green;
  background: black;
  border: 1px solid green;
  outline: none;
  text-align: center;
}

.keyclicked {
  color: black;
}
