.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-rows: 475px 275px 165px 115px;
  font-size: 60px;
  align-content: center;
}

body {
  background-color: black;
  color: green;
}
